* {
    font-family: 'Raleway', sans-serif;
    color: #0f3fbd; 
    background-color: #0d1117;
}

body {
    font-size: 2em;
    margin: 50px auto;
    text-align: center;
}

.board {
    display: grid;
    width: 36vh;
    margin: 50px auto;
    grid-template-columns: repeat(3, 12vh);
}

.square {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #30363d;
    margin: -1px;
    width: 12vh;
    height: 12vh;
    font-size: 3em;
}

.square:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
}

.play-btn {
    background-color: rgba(255, 255, 255, 0.1);
    width: 15vh;
    font-size: 1em;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.play-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color: white;
}

.status-panel {
    margin: 50px;
}